body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e68972;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
 /* image decoration
  */
  #logo img{
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    }
    

nav ul li {
  list-style: none;
  display: block;
  float: inline-end;
  justify-content: space-evenly;
  color: black;
  margin: 0;
  padding:10px;
  
  
}
/* hover animation */
#nav-links a {
text-decoration: none;
color: #333;
font-size: 16px;
position: relative;
display: inline-block;
padding-bottom: 5px; /* Space below the text */
}

#nav-links a::after {
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 3px; /* Thickness of the underline */
background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Gradient color */
transition: width 0.3s ease-in-out;
}

#nav-links a:hover::after {
width: 100%; /* Fully expand the underline on hover */
}

/* banner */
.banner {
  background-color: #bb4a2e;
  color: rgb(73, 38, 38);
  text-align: center;
  padding: 40px 20px;
} 
.banner button {
  background-color: #0b2eccf8;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
/*   */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.grid a {
  text-decoration: none;
  color: #003366;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
}
.grid a i,img{
  height: 30px;
  width: 30px;
}
.grid a:hover {
  background-color: #f1f1f1;
}